   <div class="container-fluid pt-3 pb-4 bg-secondary">
       <div class="row">
           <div class="col-12 col-md-4 text-center">
               <h3 class="foot-main">
                   Gurkha Oven Spalding
               </h3>
               <p class="foot-main2">
                   <b>
                       Address: 12 Sheep Market, <br> Spalding, PE111BE <br> Phone: 01775712010, 01775249516 <br>
                   </b>
               </p>
           </div>
           <div class="col-12 col-md-2">
               <div>
                   <h5>Minimum Order</h5> <b class="foot-cont">£20.00</b>
               </div>
            </div>

            <div class="col-12 col-md-2">
               <div>
                   <h5>Delivery Charge </h5> <b class="foot-cont">FREE DELIVERY, available within a 3 mile radius for Orders over £20</b>
               </div>
            </div>
            <div class="col-12 col-md-2">
               <div>
                   <h5>Opening Time</h5> <b class="foot-cont">Mon-Thurs 17:00-22:30<br> Fri & Sat 17:00-23:00 <br> Sun 17:00-22:00</b>
               </div>
            </div>
            <div class="col-12 col-md-2">
               <div>
                   <h5 class="foot-hed">EST. Waiting</h5>
                    <b class="foot-cont">
                       Delivery : 45-60 Min <br>
                       Collection : 30 Min <br>
                   </b>
               </div>
            </div>           
       </div>
    </div>


    <div class="container-fluid footend py-1">
        <div class="row text-center">
            <div class="col-12">
                <span class="end-cont">
                 Site by : <a target="_blank" href="http://www.facebook.com/14221A0565"  title="Pawan Acharya"> <i>Pawan Acharya</i> </a>     
                </span>                      
            </div>
        </div>
    </div>