{{!-- <div class="jumbotron bg-secondary p-3">
    <div class="text-center">
        <h2>This is header parts</h2>
        <a href="/"> <button class="btn btn-success">Home</button> </a> 
        <a href="/order"> <button type="button" class="btn btn-success">Order</button> </a>
        <a href="/order/register"> <button type="button" class="btn btn-success">Register</button> </a>
        <a href="/order/checkout"> <button type="button" class="btn btn-success">Checkout</button> </a>
        <a href="/order/fullcart"> <button type="button" class="btn btn-success">fullcart</button> </a>
    </div>
</div> --}}
<div class="container-fluid bg-heading py-3">
        <div class="text-center">
          <h1 class="heading"> <a href="/"> GurkhaOven Online Order </a>   </h1>           
        </div>
</div>
