<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GurkhaovenOnlineOrder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bow_containers/components-font-awesome/css/font-awesome.min.css"></link>         
    <link rel='stylesheet' href='/bow_containers/bootstrap/dist/css/bootstrap.css'/>
     <link rel='stylesheet' href='/style/test.css'/>
    <link rel='stylesheet' href='/style/gurkhaoven.css'/>

</head>

<body>
   
    {{> header}}

    
     <br> 


        {{{body}}}


    <br>


    {{> footer}}

    <script src="/style/gurkhajav.js"></script>
    <script src="/bow_containers/jquery/dist/jquery.js"></script>
    <script src="/tether/js/tether.min.js"></script>
    <script src="/popper/umd/popper.js"></script>
     <script src="/bow_containers/bootstrap/dist/js/bootstrap.js"></script>   
</body>

</html>

