<h1 class="text-center">order</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Registration Form</h4>
                </div>
                <div class="card-body">
                    <form action="/order/register" method="POST">
                        <div class="form-group row">
                            <label class="col-4 col-md-3 col-form-label">
                                <b>Menu List</b>
                            </label>
                            <div class="col-8 col-md-5">
                                <input type="text" name="menuList" class="form-control" id="articleURLko" placeholder="menuList">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-md-3 col-form-label">
                                <b>Menu Item:-</b>
                            </label>
                            <div class="col-8 col-md-5">
                                <input type="text" name="menuItem" class="form-control" id="articleURLko" placeholder="Menu Item">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-md-3 col-form-label">
                                <b>Item Description:-</b>
                            </label>
                            <div class="col-8 col-md-5">
                                <input type="text" name="itemDescription" class="form-control" id="articleURLko" placeholder="Item Description">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-md-3 col-form-label">
                                <b>Item Cost:-</b>
                            </label>
                            <div class="col-8 col-md-5">
                                <input type="text" name="price" class="form-control" id="articleURLko" placeholder="Item Cost">

                            </div>
                        </div>

                        <div class="form-group row text-center">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-outline-success mx-2"> Submit </button>
                                    <button type="reset" class="btn btn-outline-info mx-2"> Reset </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>